* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 300px;
}

.editor{
    display: flex;
    justify-content: space-between;
}

.controller-box{
    border: 1px solid black;
}

.hidden{
    display: none;
}
