@import 'components/canvas.css';
@import 'components/conrtol-box.css';

.editor {
    display: flex;
    width: 95vw;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
}

@media (min-width: 900px){
    .editor {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    }
}


@media (min-width: 1050px){
    .editor {
        gap: 50px;
        width: 90vw;
    }
}