@import 'components/fillter.css';
@import 'components/image-container.css';
@import 'components/scrollbar.css';

.main-gallery {
    background-color: #383b42;
    border-radius: 0.6em;
    width: 95vw;
    padding-bottom: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .main-gallery {
        width: 90vw;
    }
}