.canvas-container{
    border-radius: 2em;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

canvas{
    border-radius: 2em;
    cursor: pointer;
}

@media (min-width: 900px){
    .canvas-container{
        margin-top: 0;
        width: 500px;
        height: 500px;
        align-self: center;
    }
}