.controller-box {
    border: 1px solid #000000;
    background-color: #383b42;
    border-radius: 2em;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    gap: 10px;
    padding: 10px 20px;
    flex-basis: 50%;
    max-height: 350px;
}

.txt-input {
    border-radius: 2em;
    text-align: center;
    font-size: 1.5625em;
    font-weight: 500;
    border: none;
    background-color: #ebeef3;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    outline: none;
    height: 40px;
    align-self: center;
}

.line-controllers {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.line-controllers>* {
    width: 100%;
    border: none;
    border-radius: 0.6em;
    color: white;
    font-size: 1.875em;
    line-height: 2em;
    cursor: pointer;
    align-self: center;
}

.btn-line-up,
.btn-line-down,
.btn-line-switch {
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.btn-line-up:hover,
.btn-line-down:hover,
.btn-line-switch:hover {
    background-image: linear-gradient(-38deg, rgba(102, 196, 220, 0.80) 0%, rgba(64, 178, 206, 0.802) 50%, rgba(12, 152, 187, 0.80) 100%);
}

.btn-line-add {
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.btn-line-add:hover {
    background-image: linear-gradient(-38deg, rgba(66, 235, 91, 0.80) 0%, rgba(55, 179, 74, 0.80) 100%);
}

.btn-line-remove {
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.btn-line-remove:hover {
    background-image: linear-gradient(-38deg, rgba(207, 29, 56, 0.80) 0%, rgba(207, 29, 56, 0.80) 1%, rgba(240, 79, 54, 0.80) 100%);
}

.btn-match-to-palete {
    box-shadow: 1px 5px 0 #f33030a4, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #cf1d37, #3bcf1d, #3655f0);
}

.btn-match-to-palete:hover {
    background-image: linear-gradient(-38deg, rgba(207, 29, 56, 0.80), rgba(59, 207, 29, 0.80), rgba(54, 85, 240, 0.80));
}

.font-controllers {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 45px));
    grid-template-rows: repeat(2, minmax(0, 45px));
    gap: 10px;
    padding: 10px 10px;
    background-color: #19a59f;
    border-radius: 1em;
    place-content: center;
}

.font-controllers>*:not(:nth-child(6)) {
    width: 100%;
    height: 100%;
    border-radius: 0.6em;
    background-color: white;
    border: none;
    text-align: center;
    font-size: 1.875em;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    cursor: pointer;
}

.font-controllers>*:not(:nth-child(6)):hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.484);
}

.font-family-input {
    border: none;
    border-radius: 0.6em;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    padding-left: 20px;
    -webkit-appearance: none;
    height: 45px;
    max-width: 155px;
    cursor: pointer;
}

.font-family-container {
    grid-column: 1/span 3;
    grid-row: 2;
    position: relative;
}

.fa-caret-down {
    position: absolute;
    font-size: 2em;
    right: 10px;
    top: 12px;
    cursor: pointer;
    pointer-events: none;
}

.fill-color,
.stroke-color {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.fill-container,
.stroke-container {
    line-height: 1.8em;
}

.emojis {
    background-color: white;
    border-radius: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    position: relative;
    overflow: hidden;
}

.emojis span {
    cursor: pointer;
}

.emojis span:hover {
    text-shadow: 0 0 8px black;
}

.btn-emojis-left,
.btn-emojis-right {
    background-color: white;
    border: none;
    font-size: 1em;
    position: absolute;
    border-radius: 1em;
    cursor: pointer;
}

.btn-emojis-left {
    left: 5px;
}

.btn-emojis-right {
    right: 5px;
}

.advanced-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.advanced-btns>*:not(div) {
    text-decoration: none;
    color: white;
    flex-basis: 33%;
    border-radius: 1em;
    text-align: center;
    font-size: 1.2em;
    height: 100%;
    padding-top: 10px;
}

.save-msg{
    position: absolute;
    top: 120px;
    left: 0;
    font-size: 30px;
    color: white;
    background-image: linear-gradient(to right, #0e9ab3, #2fba74);
    padding: 0 10px;
    transform: translate(-100%);
}

.save-msg.shown{
    transition: all 0.8s;
    transform: translate(0);
}

.btn-share {
    background-color: #1e7cd3;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #57b2e8;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.sharing-options {
    position: absolute;
    bottom: 60px;
    border-radius: 1em;
    left: 0;
    flex-direction: column;
    align-items: center;
    background: #0396f1f7;
    width: 100%;
    justify-content: flex-end;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s, box-shadow 0.6s;
}

.sharing-options a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.sharing-options.options-open {
    max-height: 100vh;
}

.sharing-options li:hover {
    background: rgb(3, 3, 241);
}

.sharing-options li {
    padding: 1em 5px;
    border-bottom: 1px solid rgb(0, 72, 117);
    width: 100%;
    text-align: center;
}

.btn-download {
    background-color: #8f44bb;
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #bf84da;
}

.btn-save {
    background-color: #44bb5a;
    box-shadow: 1px 6px 0 #308940, inset 0 5px 0 #54e76f;
}

@media (min-width: 900px) {
    .controller-box {
        max-height: 1000px;
    }

    .txt-input {
        height: 50px;
    }

    .advanced-btns>*:not(div) {
        height: 50%;
        padding-top: 8px;
    }
}

@media (min-width: 1040px) {
    .controller-box {
        padding: 20px 30px;
    }

    .txt-input {
        height: 100%;
        align-self: auto;
    }

    .font-controllers {
        grid-template-columns: repeat(5, minmax(0, 55px));
        grid-template-rows: repeat(2, minmax(0, 55px));
        gap: 20px;
        padding: 15px 15px;
    }

    .font-family-input {
        height: 55px;
        max-width: 185px;
    }

    .advanced-btns>*:not(div){
        height: 60%;
        padding-top: 10px;
    }

    .fa-caret-down {
        right: 35px;
    }
}

@media (min-width: 1100px) {
    .controller-box {
        gap: 20px;
        padding: 30px 40px;
    }

    .font-controllers {
        gap: 30px;
        padding: 15px 10px;
    }

    .font-family-input {
        max-width: 225px;
    }

    .advanced-btns>*:not(div){
        height: 60%;
        padding-top: 12px;
    }

    .fa-caret-down {
        right: 10px;
    }
}