.fillters {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.key-words-container {
    margin: 0 auto;
    gap: 10px;
}

.search-container {
    position: relative;
    flex-basis: 100%;
    min-width: 100px;
}

body.menu-open .search-container {
    z-index: -1;
}

.search-bar {
    background-color: #151515;
    border-radius: 2em;
    border: none;
    width: 100%;
    height: 60px;
    font-size: 1.3125em;
    padding-inline-start: 30px;
    color: white;
}

.btn-search {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 25px;
    cursor: pointer;
}

.word-pool span {
    cursor: pointer;
}

.word-pool {
    flex-grow: 1;
    color: white;
    background-color: #87898d;
    font-size: 1.5em;
    border-radius: 2em;
    padding-left: 30px;
    height: 50px;
    overflow: hidden;
}

.btn-more {
    background-image: linear-gradient(to right, #0e9ab3, #2fba74);
    border: none;
    color: white;
    font-size: 1.125em;
    border-radius: 2em;
    padding: 10px 30px;
    cursor: pointer;
    flex-basis: 20%;
}

.btn-less {
    background-image: linear-gradient(to right, #0e9ab3, #2fba74);
    border: none;
    color: white;
    font-size: 0.8em;
    border-radius: 2em;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-more:hover {
    background-image: linear-gradient(to right, rgba(15, 154, 179, 0.80), rgba(47, 186, 116, 0.80));
}

@media (min-width: 840px) {
    .fillters {
        flex-wrap: nowrap;
    }

    .key-words-container {
        gap: 20px;
    }

    .search-container {
        flex-basis: 35%;
        min-width: 300px;
        height: 100%;
    }

    .word-pool {
        font-size: 2em;
        height: 60px;
    }

    .btn-more {
        flex-basis: none;
    }
}